$family-primary:'Roboto',
sans-serif;
$family-secondary: 'Roboto',
sans-serif;

$primary: #ddd !default;

$brand-color: var(--brand-color) !default;
$brand-color-inverse:var(--brand-color-inverse) !default;

$primary-color: var(--primary-color) !default;
$primary-color-inverse: var(--primary-color-inverse) !default;

$secondary-color: var(--secondary-color) !default;
$secondary-color-inverse: var(--secondary-color-inverse) !default;

$third-color: var(--third-color) !default;
$third-color-inverse:var(--third-color-inverse) !default;

$body-color: var(--body-color) !default;

$dark-color: var(--dark-color) !default;
$light-color: var(--light-color) !default;

$gray-color: var(--gray-color) !default;
$gray-light: var(--gray-light) !default;


$border-color: var(--border-color) !default;
$border-dark-color: var(--border-dark-color) !default;
$border-light-color: var(--border-light-color) !default;
$border: solid 1px $border-color !default;
$border-transparent: solid 1px transparent !default;

$font-color:var(--font-color) !default;
$font-color2:var(--font-color2) !default;

$success-color: #1dc9b7 !default;
$warning-color: #ffb822 !default;
$info-color: #5578eb !default;
$danger-color: #fd397a !default;

/* ================ */

$text-dark: #666;
$text-light: #999;

$border-light: 1px solid #E6E6E6;
$border-dark: 1px solid #333333;